html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
}

body{
    background-color: #e8e9eb;
}

/* Nawigacja */
#Nav{
    background-color: #1f1f1f;
    width: 100%;
}

#NavbarContainer{
    padding: 20px 50px;
}

#NavLogo{
    width: 20%;
    float: left;
    color: white;
}

.yellow-color{
    color: #ffbf00;
}

#NavInfo{
    
    width: 80%;
    float: left;
    text-align: right;
}

#NavMenu{
    padding: 10px 0px;
    list-style: none;
    display: inline-flex;
}

.NavLinks{
    padding: 0px 20px;
    text-decoration: none;
    color: white;
}

.NavLinks:hover{
    color: #777777
}

.yellow-color-nav{
    color: #ffbf00;
}

.NavLinks:hover .yellow-color-nav{
    color: #b98b00;
}

.yellow-coins{
    text-align: center;
    background-color: #ffbf00;
    padding: 3px 6px;
    border-radius: 15px;
    color: white;
    margin-left: 20px;
    z-index: 2;
}

.NavLinks:hover .yellow-coins{
    background-color: #b98b00;    
}

#Bg-coins{
    padding: 5px 0px 5px 10px;
    background-color: black;
    border-radius: 15px;
}

#userNav{
    display: none;
}


/* Guzik Menu na telefonie */
.shopButton{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
}

.shopButton a{
    color: white;
    text-decoration: none;
    background: #0099ff;
    padding: 20px 20px;
    border-radius: 50px;
}

.shopButton a:hover{
    background: #6dc5ff;
}

#Icon{
    display: none;
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: red;
}

#Icon:hover{
    color: rgb(255, 160, 160);
}


/* Główna sekcja */
.Section{
    padding-top: 20px;
}

.Container{
    width: 100%;
}

.Wrapper{
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

.left-panel{
    width: 80%;
    float: left;
}

.History{
    width: 30%;
    float: left;
    margin-bottom: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;

    background: #fff;
    border-radius: 5px;
}

.Main{
    width: 70%;
    float: left;
    margin-bottom: 15px;
    padding: 0 15px;
}

#betMenu{
    width: 20%;
    float: left;
    margin-bottom: 15px;
    right: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;

    height: 600px;

    background: #fff;
    border-radius: 5px;

    transition: 0.3s ease-in-out;
}

.text-yellow{
    color: #ffbf00;
}

.text-blue{
    color: #0099ff;
}

/* Topka graczy */
.HistoryElements{
    padding: 0 15px;

    overflow-y: auto;
    max-height: 400px;
}

.player{
    margin-bottom: 20px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;

    background: #fff;
    color: #000000;
    border: 1px solid #c4c4c4;

    border-radius: 5px;
    
}

.left-player{
    width: 10%;
    float: left;
    text-align: left;
}

.center-player{
    width: 70%;
    float: left;
    text-align: center;
}

.right-player{
    width: 20%;
    float: left;
    text-align: right;
}

.event h3{
    padding-top: 20px;
    padding-bottom: 20px;
}

.History h4{
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;

    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.gold{
    color: #ffbf00;
}

.silver{
    color: #777777;
}

.bronze{
    color: #853719;
}


/* Mecze do obstawiania */
.MainMatch{
    width: 100%;
    background-color: #fff;
    padding: 20px 0px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    margin-bottom: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left{
    padding-left: 10px;
    width: 30%;
    float: left;
}

.center{
    width: 20%;
    float: left;
    text-align: center;
}

.right{
    width: 50%;
    float: left;
}

.custom-radio input{
    display: none;
}

.radio-btn{
    float: left;
    width: 46%;
    margin-left: 2%;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio-btn span{
    font-size: smaller;;
}

.grey{
    color:#8f8f8f;
}

.custom-radio input + .radio-btn{
    padding: 5px 0px;
    border-radius: 10px;
    border: 1px solid #ffbf00;
    background: #ffbf00;
    transition: 0.5s;
}

.custom-radio input:hover + .radio-btn{
    border: 1px solid #fcd665;
    background: #fcd665;
}

.custom-radio input:checked + .radio-btn{
    border: 1px solid #1f1f1f;
    background: #1f1f1f;
    color: #ffbf00;
}

.custom-radio input:checked + .radio-btn > i{
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

/* Menu z podsumowaniem */
.MatchElements{
    padding: 0 15px;
    overflow-y: auto;
    max-height: 400px;
}

#betMenu h4{
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;

    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.Match{
    margin-bottom: 15px;
    padding: 10px 5px 10px 5px;
    width: 100%;
    background: #fff;
    color: #000000;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.winner{
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-bold{
    font-weight: bold;
}

#betMenuInfo{
    width: 95%;
    float: left;
}

.CloseElement{
    text-align: center;
    width: 5%;
    float: right;
}

.close{
    color: black;
    cursor: pointer;
    font-size: medium;
}

.close:hover{
    color: rgb(255, 0, 0);
    font-size: large;
}

.BetInput{
    margin-left: 30px;
    padding: 5px 0px 5px 5px;
}

.InfoBets{
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#betMenuBtn{
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #ffbf00;
    background: #ffbf00;
}

#betMenuBtn:hover{
    border: 1px solid #fcd665;
    background: #fcd665;
}

#error{
    color:rgb(255, 0, 0);
}

.errorsInput{
    border: 2px solid red !important;
}

/* Brak meczy */
.none{
    margin-top: 20px;
    text-align: center;
    display: none;
}
.none h1{
    font-size: 40px;
    color:#ffbf00;
}
.none p{
    font-size: 20px;
}

/* Media - Telefony - RWD */

@media screen and (max-width: 1500px){
    .History{
        width: 100%;
        float: left;
        margin-bottom: 15px;
        position: relative;
        top: 0px;

    }
    
    .Main{
        width: 100%;
        float: left;
        padding: 0px 0px;
    }

    .left-panel{
        padding: 0px 20px;
        width: 60%;
        float: left;
    }
    
    #betMenu{
        width: 40%;
        float: left;
    }

    .left{
        
        width: 60%;
        float: left;
    }
    
    .center{
        width: 40%;
        float: left;
        text-align: center;
    }
    
    .right{
        padding-top: 20px;
        width: 100%;
        float: left;
    }

    .HistoryElements{
        max-height: 300px;
    }
}

@media screen and (max-width: 750px){
    #userNav{
        display: block;
    }

    #profil{
        display: none;
    }

    #tickets{
        display: none;
    }

    #NavLogo{
        width: 100%;
    }
    
    #NavInfo{ 
        width: 100%;
        text-align: center;
    }
    .NavLinks{
        padding: 0px;
        font-size: 16px;
    }

    .NavItem{
        padding: 20px;
    }

    #NavbarContainer{
        padding: 10px 5px;
    }

    #NavLogo{
        text-align: center;
    }

    #NavMenu{
        padding: 0px;
    }

    .History{
        width: 100%;
    }
    
    .Main{
        width: 100%;
    }
    .left-panel{
        width: 100%;
    }
    
    #betMenu{
        width: 40%;
    }

    .left{
        width: 100%;
    }
    
    .center{
        padding-top: 5px;
        width: 100%;
    }
    
    .right{
        width: 100%;
    }
    .HistoryElements{
        max-height: 200px;
    }

    .shopButton{
        display: block;
        z-index: 3;
    }

    #Icon{
        display: block;
    }

    #betMenu{
        width: 100%;
        opacity: 0%;
        left: -100%;
        margin-bottom: 15px;
        top: 0;
        position: absolute;
        height: 100%;
        border-radius: 0px;
        z-index: 4;
    }

    .MatchElements{
        max-height: 80%;
    }

    #betMenu input{
        margin-top: 15px;
    }
}

@media screen and (max-width: 285px){
    .radio-btn{
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 10px
    }
}

/* Ekran ładowania */
.loading{
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #ffbf00 ;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ffbf00  transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
