*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
}

body{
    background: #181818;
}

/* Form */
.form-container {
    margin: 30px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-content-left {
    background: linear-gradient(90deg,
        rgb(255, 205, 39) 0%,
        rgb(236, 193, 0) 100%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
}

.form-img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-img-2 {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
}

.form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: rgb(17, 17, 17);
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1 {
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
}

.form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
}

.form-inputs small {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
}

.form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
}

.form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
}

.form-input::placeholder {
    color: #595959;
    font-size: 12px;
}

.form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(90deg,
        rgb(255, 205, 39) 0%,
        rgb(236, 193, 0) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.form-input-btn:hover {
    cursor: pointer;
    background: #fff;
    color:black;
    transition: all 0.4s ease-out;
}

.form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
}

.form-input-login a {
    text-decoration: none;
    color: #ffbf00;
    font-weight: 600;
}

.form-input-login a:hover {
    color: #fff;
    transition: all 0.4s ease-out;
}

.span-color{
    color: #ffbf00;
}


/* Footer */
footer{
    background-color: #1f1f1f;
}

#FooterWrap{
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

#SocialMedia{
    max-width: 1000px;
    width: 100%;
}

#SocialMediaWraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 40px auto 0 auto;
}

#SocialMediaLogo{
    color: #fff;
    justify-content: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
}

#SocialMediaSpan{
    color: #ffbf00;
}

#WebsiteRights{
    color: #fff;
    margin-bottom: 16px;
}

#WebsiteCreators{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#WebsiteText{
    color: #fff;
}

#FooterLinkOther{
    color: #ffbf00;
    text-decoration: none;
}

#FooterLinkOther:hover{
    color: #fff;
    text-decoration: underline;
}

/* Media - Phones */
@media screen and (max-width: 1000px ) {
    .form-content-right{
        width: 100%;
    }

    .form-container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    .form-content-left{
        display: none;
    }
}

@media screen and (max-width: 820px) {
    #SocialMediaWraper{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    #MobileIcon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #fff;
    }
}