html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded', sans-serif;
}

body{
    background-color: #e8e9eb;
}

/* Nawigacja */
#Nav{
    background-color: #1f1f1f;
    width: 100%;
}

#NavbarContainer{
    padding: 20px 50px;
}

#NavLogo{
    cursor: pointer;
    width: 20%;
    float: left;
    color: white;
}

.yellow-color{
    color: #ffbf00;
}

#NavInfo{
    width: 80%;
    float: left;
    text-align: right;
}

#NavMenu{
    padding: 10px 0px;
    list-style: none;
    display: inline-flex;
}

.NavLinks{
    padding: 0px 20px;
    text-decoration: none;
    color: white;
}

.NavLinks:hover{
    color: #777777
}

.NavLinks:hover .yellow-color-nav{
    color: #b98b00;
}

/* Menu admina */
.menu{
    background: #1f1f1f;
    padding: 10px 0px;
}

.menu a{
    text-decoration: none;
    color: #ffbf00;
    margin: 20px 20px;
}

.menu a:hover{
    text-decoration: underline;
}

/* ROW */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Tytuły gier */
.gameSection{
    padding: 20px 1%;
    width: 100%;
}

.addGameForm{
    margin: 5px 1%;
    border-radius: 5px;
    background: #fff;
    float: left;
    width: 18%;
    padding: 15px 10px;
    height: 150px;
}

#gamesSection{
    width: 78%;
    margin: 0px 1%;
    float: left;
    height: 150px;
    overflow-y: auto;
}

.ItemGame{
    position: relative;
    margin: 5px 0px;
    border-radius: 5px;
    background: #fff;
    padding: 15px 10px;
    width: 100%;
}

#addGame{
    margin-top: 20px;
    width: 100%;
    background-color: #5df736;
    color: #fff;
    padding: 10px 20px;
    border: none;
}

#addGame:hover{
    background-color: #a1f58c;
    color: #fff;
}

.removeGame{
    position: absolute;
    right: 10px;
    top: 6px;
    background-color: #EF233C;
    color: #fff;
    padding: 10px 20px;
    border: none;
}

.removeGame:hover{
    background-color: #fd7585;
    color: #fff;
}

#titleGame{
    margin-top: 5px;
    padding: 5px 2px 5px 2px;
    width: 100%;
}

/* Radio */
.custom-radio input{
    display: none;
}

.choose{
    padding: 10px 10px 10px 30px;
    background: #e8e9eb;
}

.radio-btn{
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio-btn span{
    font-size: smaller;;
}

.custom-radio input + .radio-btn{
    padding: 9px 70px;
    border: 1px solid #e8e9eb;
    background: #e8e9eb;
    transition: 0.5s;
    border-radius: 50px;
    color: #000;
}

.custom-radio input:hover + .radio-btn{
    border: 1px solid #fff;
    background: #fff;
}

.custom-radio input:checked + .radio-btn{
    border: 1px solid #fff;
    background: #fff;
}

.custom-radio input:checked + .radio-btn > i{
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

/* Mecze */
.output{
    margin: 20px 20px;
}

.match{
    margin: 20px 0px;
    border-radius: 3px;
    padding: 10px 20px;
    background: #fff;
}

.title{
    width: 40%;
    float: left;
}

.date{
    text-align: center;
    width: 30%;
    float: left;
}

.buttons{
    text-align: right;
    width: 30%;
    float: left;
}

.buttons button{
    margin-left: 5px;
}

.btnEdit{
    padding: 10px 20px;
    border: 1px solid #36b0f7;
    background: none;
}

.btnEdit:hover{
    background: #36b0f7;
}

.btnBlock{
    padding: 10px 20px;
    border: 1px solid #f73636;
    background: none;
}

.btnBlock:hover{
    background: #f73636;
}

.btnUnlock{
    padding: 10px 20px;
    border: 1px solid #5df736;
    background: none;
}

.btnUnlock:hover{
    background: #5df736;
}

.winner{
    color: #5df736;
}

.loser{
    color: #f73636;
}

/* Brak meczy */
.none{
    margin-top: 20px;
    text-align: center;
    display: none;
}
.none h1{
    font-size: 40px;
    color:#ffbf00;
}
.none p{
    font-size: 20px;
}

/* Modal*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

  /* Modal Treść */
.modal-content {
    border-radius: 5px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

.modal-content h2{
    color: #2B2D42;
}

.modal form{
    padding-top: 20px;
}

.input{
    padding-top: 10px;
    width: 60%;
    margin: 0px 20%;
}

.input input, .input select{
    width: 100%;
    padding: 5px 0px 5px 3px;
    border-radius: 4px;
    border: 1px solid #818181;
}

.input-btn{
    padding-top: 20px;
    text-align: center;
}

/* Zamknij guzik */
#close {
    color: #fa7484;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, #close:focus {
    color: #EF233C;
    text-decoration: none;
    cursor: pointer;
}

/* Media - Telefony - RWD */

@media screen and (max-width: 750px){
    .choose{
        text-align: center;
        padding: 10px 5px;
    }
     
    .custom-radio input + .radio-btn{
        padding: 5px 20px;
        border-radius: 50px;
    }

    #NavLogo{
        width: 100%;
    }
    
    #NavInfo{ 
        width: 100%;
        text-align: center;
    }
    .NavLinks{
        padding: 0px;
        font-size: 16px;
    }

    .NavItem{
        padding: 20px;
    }

    #NavbarContainer{
        padding: 10px 5px;
    }

    #NavLogo{
        text-align: center;
    }

    #NavMenu{
        padding: 0px;
    }

}

@media only screen and (max-width: 1400px) {
    .modal-content {
        width: 75%;
    }
}

@media only screen and (max-width: 800px) {
    .addGameForm {
        margin: 5px 1%;
        width: 98%;
    }

    #gamesSection {
        width: 98%;
        margin: 0px 1%;
    }
}

@media only screen and (max-width: 700px) {
    .title{
        width: 100%;
        text-align: center;
    }
    
    .date{
        padding-top: 10px;
        width: 100%;
    }
    
    .buttons{
        padding-top: 10px;
        width: 100%;
        text-align: center;
    }
    .menu{
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .modal-content {
        width: 100%;
    }

    .input{
        width: 90%;
        margin: 0px 5%;
    }

    .menu a {
        margin: 20px 8px;
    }
}

